# Dependencies
node_modules/
*/node_modules/

# Serverless
.serverless/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# AWS
.aws/

# Test files
endpoint.txt
image.txt
payload.json
*.png
*.gif

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.env
